@page
@model Proiect_eshop.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ID" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SupplierID" class="control-label">Supplier Name</label>
                <select asp-for="Product.SupplierID" class="form-control" asp-items="ViewBag.SupplierID"> </select>
                <span asp-validation-for="Product.SupplierID" class="text-danger"></span>
            </div>
            <div class="form-group">
            <div class="table">
                <table>
                <tr>
                    @{
                    int cnt = 0;
    foreach (var cat in Model.AssignedCategoryDataList)
{
 if (cnt++ % 3 == 0)
{
@:</tr><tr>
}
@:<td>
 <input type="checkbox"
 name="selectedCategories"
 value="@cat.CategoryID"
 @(Html.Raw(cat.Assigned ? 
"checked=\"checked\"" : "")) />
 @cat.CategoryID @: @cat.Name
 @:</td>
 }
 @:</tr>
}
 </table>
 </div>
 </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
