@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit la Narae Crafts!</h1>
    <h3><a href="/Products">Consultati produsele noastre</a></h3>
</div>
